<footer style="background: linear-gradient(to right,#21ad4d 0%,#5bba45 50%,#8bc53f 100%)">
    <div class="container-fluid" >
    <div class="row">
      <div class="col-sm-4">
        <ul class="navbar-nav mb-2 mb-lg-0" style="margin-left: auto!important;" >
          <li class="nav-item m-2">
            <a class="nav-link active" aria-current="page" href="#" style="color: white;">Home</a>
          </li>
          <li class="nav-item m-2">
            <a class="nav-link" href="#" style="color: white;">About</a>
          </li>
          <li class="nav-item m-2">
            <a class="nav-link" href="#" style="color: white;">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4" style="color: white;">
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
      molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
      numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
      optio, eaque rerum! Provident similique accusantium nemo autem.  </p>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-6">
            <h2 style="color: white;">Merry Meals</h2>
          </div>
          <div class="col-sm-6">
            <img src="assets/images/logo.png" style="
            margin-top: 10px;
            width: 180px;
            height:150px;
            background-color: #9f9f9f00;
            border-radius:15px;
            box-shadow: 0px 0px 15px rgb(183 183 183 / 85%);
        " >
          </div>
        </div>
      </div>
    </div>
    

    </div>
  </footer>
