<nav class="navbar navbar-light " style="background-color: #111010ef; color: white;">
    <div class="container-fluid">
        <img src="https://getbootstrap.com/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      <div class="d-flex">
        <h4 style="padding-right: 5px;">User Name</h4>
        <img src="https://getbootstrap.com/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      </div>
    </div>
  </nav>
