<nav class="navbar navbar-light " style="background-color: #111010ef; color: white;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: white;">MeryMeal</a>
      <div class="d-flex">
        <h4 style="padding-right: 5px;">User Name</h4>
        <img style="border-radius: 50%; height: 40px; width: 40px;"src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" width="30" height="24" class="d-inline-block align-text-top">
        <button class="btn" type="button" (click)="logoutUser()" style="background-color: #0d6efd; color: white;">Logout</button>
      </div>
    </div>
  </nav>
