<body style="background-color: #fff; color: #000;">
	
	<div class="limiter">
		<div id="grad1" style="text-align: center;">
            <h1 style="padding-top: 180px; color: white; font-weight: bold;">Food Safety Management</h1>
        </div>
        <div class="col-12" style="padding: 30px; text-align: center;">
            <p>Good food hygiene ensures that food prepared for customers is safe to eat. It prevents harmful microorganisms that can cause serious illness from contaminating food, prevents cross contamination, enables businesses to comply with the law, and protects the reputation of the business.</p>
            <img src="https://drive.google.com/uc?id=1S63lUzXMfg5bo68iDTTRS6U7ep8iLPMs" style="margin: 20px; width: 70%;">
            <div class="row">
                <div class="col" style="border: 1px solid lightgreen; margin: 10px; padding: 15px; border-radius: 10px; margin-top: 10px; margin-bottom: 10px;" >
                    <h4><b>CLEAN</b></h4>
                    <h6 style="color: #000;">Wash hands and surfaces often</h6>
                    <p style="text-align: left;">
                        <br>1. Wash your hands with warm water and soap for at least 20 seconds before and after handling food and after using the bathroom, changing diapers, and handling pets.
                        <br><br>2. Wash your cutting boards, dishes, utensils, and counter tops with hot soapy water after preparing each food item.
                        <br><br>3. Consider using paper towels to clean up kitchen surfaces. If you use cloth towels, launder them often in the hot cycle.
                        <br><br>4. Rinse fresh fruits and vegetables under running tap water, including those with skins and rinds that are not eaten. Scrub firm produce with a clean produce brush.
                        <br><br>5. With canned goods, remember to clean lids before opening.
                    </p>
                </div>
                <div class="col" style="border: 1px solid lightgreen; margin: 10px; padding: 15px; border-radius: 10px; margin-top: 10px; margin-bottom: 10px;" >
                    <h4><b>SEPERATE</b></h4>
                    <h6 style="color: #000;">Separate raw meats from other foods</h6>
                    <p style="text-align: left;">
                        <br>1. Separate raw meat, poultry, seafood, and eggs from other foods in your grocery shopping cart, grocery bags, and refrigerator.
                        <br><br>2. Use one cutting board for fresh produce and a separate one for raw meat, poultry, and seafood.
                        <br><br>3. Never place cooked food on a plate that previously held raw meat, poultry, seafood, or eggs unless the plate has been washed in hot, soapy water.
                        <br><br>4. Don’t reuse marinades used on raw foods unless you bring them to a boil first.
                    </p>
                </div>
                <div class="col" style="border: 1px solid lightgreen; margin: 10px; padding: 15px; border-radius: 10px; margin-top: 10px; margin-bottom: 10px;" >
                    <h4><b>COOK</b></h4>
                    <h6 style="color: #000;">Cook to the right temperature</h6>
                    <p style="text-align: left;">
                        <br>1. Color and texture are unreliable indicators of safety. Using a food thermometer is the only way to ensure the safety of meat, poultry, seafood, and egg products for all cooking methods. These foods must be cooked to a safe minimum internal temperature to destroy any harmful bacteria.
                        <br><br>2. Cook eggs until the yolk and white are firm. Only use recipes in which eggs are cooked or heated thoroughly.
                        <br><br>3. When cooking in a microwave oven, cover food, stir, and rotate for even cooking. If there is no turntable, rotate the dish by hand once or twice during cooking. Always allow standing time, which completes the cooking, before checking the internal temperature with a food thermometer.
                        <br><br>4. Bring sauces, soups and gravy to a boil when reheating.
                    </p>
                </div>
                <div class="col" style="border: 1px solid lightgreen; margin: 10px; padding: 15px; border-radius: 10px; margin-top: 10px; margin-bottom: 10px;" >
                    <h4><b>CHILL</b></h4>
                    <h6 style="color: #000;">Refrigerate foods promptly</h6>
                    <p style="text-align: left;">
                        <br>1. Use an appliance thermometer to be sure the temperature is consistently 40° F or below and the freezer temperature is 0° F or below.
                        <br><br>2. Refrigerate or freeze meat, poultry, eggs, seafood, and other perishables within 2 hours of cooking or purchasing. Refrigerate within 1 hour if the temperature outside is above 90° F.
                        <br><br>3. Never thaw food at room temperature, such as on the counter top. There are three safe ways to defrost food: in the refrigerator, in cold water, and in the microwave. Food thawed in cold water or in the microwave should be cooked immediately.
                        <br><br>4. Always marinate food in the refrigerator.
                        <br><br>5.Divide large amounts of leftovers into shallow containers for quicker cooling in the refrigerator.
                    </p>
                </div>
            </div>
        </div>
	</div>
	
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>