<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<button class="btn" type="button" style="background-color: #8bc53f">
  <a
    routerLink="donor-info"
    style="color: rgb(255, 255, 255); text-decoration: none"
    >Donate Now</a
  >
</button>
<button class="btn" type="button" style="background-color: #8bc53f">
  <a
    routerLink="create-menu"
    style="color: rgb(255, 255, 255); text-decoration: none"
    >Create Menu</a
  >
</button>

<button class="btn" type="button" style="background-color: #8bc53f">
  <a
    routerLink="display-menu"
    style="color: rgb(255, 255, 255); text-decoration: none"
    >Display Menu</a
  >
</button>

<router-outlet></router-outlet>

<!-- <app-admin-dashboard></app-admin-dashboard> -->
