.week {
  display: flex;
  align-items: center;
  margin: 10px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
}
.monday {
  flex: 0.2;
  border: 1px solid black;
  width: 100%;
  height: 100vh;
  margin: 8px;
  overflow-y: scroll;
  overflow-x: scroll;
}
/* .monday::-webkit-scrollbar{
    display: none;
  } */
.monday > h1 {
  text-align: center;
}
.tuesday {
  flex: 0.2;
  border: 1px solid black;
  width: 100%;
  height: 100vh;
  margin: 8px;
  overflow-y: scroll;
  overflow-x: scroll;
}
.tuesday > h1 {
  text-align: center;
}
.wednesday {
  flex: 0.2;
  border: 1px solid black;
  width: 100%;
  height: 100vh;
  margin: 8px;
  overflow-y: scroll;
  overflow-x: scroll;
}
.wednesday > h1 {
  text-align: center;
}
.thursday {
  flex: 0.2;
  border: 1px solid black;
  width: 100%;
  height: 100vh;
  margin: 8px;
  overflow-y: scroll;
  overflow-x: scroll;
}
.thursday > h1 {
  text-align: center;
}
.friday {
  flex: 0.2;
  border: 1px solid black;
  width: 100%;
  height: 100vh;
  margin: 8px;
  overflow-y: scroll;
  overflow-x: scroll;
}
.friday > h1 {
  text-align: center;
}
.radio_button {
  display: flex;
  justify-content: space-around;
}

.radio_button > label {
  font-size: larger;
}

.radio_button > button {
  background-color: white !important;
  border: none;
}
.radio_button > button:hover {
  transform: scale(1.2);
  background-color: grey;
  cursor: pointer;
}
