<div class="radio_button">
  <label for="veg">Veg</label>
  <input type="radio" id="foodtype" name="foodtype" value="veg" />
  <br />
  <label for="non-veg">Non-Veg</label>
  <input type="radio" id="foodtype" name="foodtype" value="non-veg" />
  <br />
  <label for="nutritional">Nutritional</label>
  <input type="radio" id="foodtype" name="foodtype" value="nutritional" />

  <button>
    <i class="material-icons">edit</i>
  </button>

  <button>
    <i class="material-icons">delete</i>
  </button>
</div>

<div class="week">
  <div class="monday">
    <h1>Monday</h1>
    <p>Date</p>
  </div>
  <div class="tuesday">
    <h1>Tuesday</h1>
    <p>Date</p>
  </div>
  <div class="wednesday">
    <h1>Wednesday</h1>
    <p>Date</p>
  </div>
  <div class="thursday">
    <h1>Thursday</h1>
    <p>Date</p>
  </div>
  <div class="friday">
    <h1>Friday</h1>
    <p>Date</p>
  </div>
</div>
