<!-- <body oncontextmenu="false" > -->
<div class="container card main">
    <div class="row ">
        <!-- <div class="col-lg-12"> -->
            <!-- <div class="card"> -->
                <div class="col-5 ">
                    <div class="w3-card w3-round w3-white m-3 ">
                        <div class="w3-container">
                         <h4 class="w3-center">My Profile</h4>
                         <p class="w3-center"><img src="https://www.w3schools.com/w3images/avatar3.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
                         <hr>
                         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Designer, UI</p>
                         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> London, UK</p>
                         <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> April 1, 1988</p>
                        </div>
                      </div>
                      </div>
                    <div id="content" class="col-7" >
                        <ul class="timeline mt-3">
                            <li class="event" data-date="1">
                                <h3>OUT FOR DELIVERY</h3>
                            </li>
                            <li class="event" data-date="2">
                                <h3>ON THE WAY</h3>
                            </li>
                            <li class="event" data-date="3">
                                <h3>DELIVERED</h3>
                            </li>
                        </ul>
                    </div>
                <!-- </div> -->
            <!-- </div> -->
        <!-- </div> -->
    </div>
</div>
<!-- </body> -->