<div class="skin-blue na" style="
background-image: url(../assets/images/bg1.jpg);">
    
    
    <!-- <nav class="navbar-top">
        <div class="navbar-header custom-header">
            <img alt="mercLogo" class="mercLogo" src="" />
            <a id="slideMenu" class="nav navbar-nav sidebar-toggle" data-toggle="offcanvas" href="javascript:void(0);"><em class="bdi bdi-hamburger"></em></a>
            <span class="navbar-brand" href="javascript:void(0);">&nbsp;</span>
        </div>
    </nav> -->
    <div style="opacity: 0.8;">
    <div class="navbar-top">
        <div class="navbar-header">
            <p>
                Donate Now<br>
        Your Donation is Needed Now More Than Ever.
        During this time of uncertainty, many seniors are left in isolation and are having trouble accessing basic needs. Your donation helps Meals on Wheels provide warm meals and check-ins for thousands of seniors at this challenging time.
        <br> Thank you for your donation!
            </p>
            <!-- <img src="assets/images/images.jpg" alt="" >
            <img src="assets/images/visa-banner.png" alt="" > -->
        </div>
       
    </div>
    <div class="container container-holder">
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <form name="form1" id="form1" action="" method="post">
            <div class="row" style="border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;" >
                <div class="col-md-3 col-md-push-9 parametersection">
                    <!-- <div class="box box-primary">
                        <div class="box-header">
                            <h5><strong>Merchant Name</strong></h5>
                            <h3 class="box-title"> LIC of India</h3>
                        </div>
                        <div class="panel-footer">Payment Amount: &nbsp;<strong><i class="bdi"></i>&#8377; 1556.24</strong></div>
                    </div> -->
                    <!-- <img src="https://drive.google.com/uc?id=1jsMDWfpyEVKk3s7M63K4QvFkWkO5vtCZ" alt="" > -->

                </div>
                <!-- Right Transaction Detail Column-->

                <div class="col-md-9 col-md-pull-3" id="main-container">
<div class="row" id="verticalTab">
    <div class="col-sm-3" style="background-color: #ccc;">
            <section class="sidebar" >
                
                <ul class="tabs sidebar-menu resp-tabs-list" data-retry="false">

                    <li class="option"><span><i class="fas fa-credit-card" style="padding: 4px; font-size:20px"></i></span> Credit Card</li>
                    <li class="option"><span><i class="fas fa-credit-card" style="padding: 4px; font-size:20px"></i></span> Debit Card</li>
                    <li class="option"><span><i class="fas fa-bank " style="padding: 4px; font-size:20px"></i></span>Internet Banking</li>
                    <li class="option"><span><i class="fas fa-wallet" style="padding: 4px; font-size:20px"></i></span>Wallet/ Cash Card</li>
                    <li class="option"><span><i class="fas fa-qrcode"style="padding: 4px; font-size:20px"></i></span> QR</li>
                    <li class="option"><span><i class="fas fa-exchange-alt " style="padding: 4px; font-size:20px"></i></span> UPI</li>
                </ul>

                <ul class="pager">
                    <li class="previous"><a class="abort" onclick="cancelForm();"><i class="fa fa-chevron-left"></i> Click here to abort transaction and go back to merchant site</a></li>
                </ul>
                <!-- <div id="hamburgerbilldesk" class="col-md-12 modal-footer"><img src="../../pgmerc/bdqp/resources/assets/images/billdesk-logo.png" alt="Powered by BillDesk"></div> -->
            </section>
    </div>
    <div class="col-sm-9">
        <div class="resp-tabs-container bg-light shadow-md rounded h-100 p-3"> 
        <div>
            <div class="page-header" id="tab2">
            <ul class="nav nav-pills">
                <li class="active"><a data-value="CARD-DIRECT" data-toggle="tab">Pay by Credit Card</a></li>
            </ul>
            <img src="assets/images/Credit Card.png" alt="" >
        </div> 
        </div>      
            <!-- Content Tab 2[Debit Card] ends here -->
        <div>
            <div class="page-header" id="tab2">
                <ul class="nav nav-pills">
                    <li class="active"><a data-value="CARD-DIRECT" data-toggle="tab">Pay by Debit Card</a></li>
                </ul>
                <img src="assets/images/DebitCard.png" alt="" >
            </div>
        </div>
            <!-- Content Tab 4[ATM-cum-Debit Card] ends here -->
        <div>
            <div class="page-header" id="tab2">
              <ul class="nav nav-pills">
                    <li class="active"><a data-value="CARD-DIRECT" data-toggle="tab">Pay by Bank</a></li>
                </ul>
                <img src="assets/images/Bank.png" alt="" >
            </div>
        </div>
        <div>
            <div class="page-header" id="tab2">
              <ul class="nav nav-pills">
                <li class="active"><a data-value="CARD-DIRECT" data-toggle="tab">Pay by Wallet</a></li>
            </ul>
                <img src="assets/images/Wallet.png" alt="" >
            </div>
        </div>
        <div>
            <div class="page-header" id="tab2">
              <ul class="nav nav-pills">
                <li class="active"><a data-value="CARD-DIRECT" data-toggle="tab">Pay by QR Code</a></li>
            </ul>
                <img src="assets/images/QR.png" alt="" >
            </div>
        </div>
        <div>
            <div class="page-header" id="tab2">
              <ul class="nav nav-pills">
                <li class="active"><a data-value="CARD-DIRECT" data-toggle="tab">Pay by UPI</a></li>
            </ul>
                <img src="assets/images/UPI.png" alt="" >
            </div>
        </div>
            </div>
</div>
</div>
                   

                    


               


                    <div class="modal fade" tabindex="-1" role="modal" aria-hidden="true"></div>
                </div>
                <!-- .main-container class div ends -->
            </div>
            <button type="button" target="_blank" class="btn col-xs-12 col-md-12 btn-lg btn-danger" id="proceedForm" style="display: inline-block;"> Make Payment</button>
        </form>
            <!-- .row class div ends -->
        </div>
        <!-- .wrapper class div ends -->
    </div>
</div>
    <!-- .container class div ends -->

    <!-- Modal -->
    

</div>